################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/angular8template/v16/Server/sqlite3/db.lock
/.vs/Angular8Template/v16/Server/sqlite3
/Angular8Template/bin/Debug/netcoreapp2.2
/Angular8Template.Database/bin/Debug/netcoreapp2.2
/Angular8Template.Database/obj
/Angular8Template.Models/bin/Debug/netcoreapp2.2
/Angular8Template.Models/obj
/.vs/Angular8Template/v16
/.vs/Angular8Template/DesignTimeBuild
/Angular8Template/obj
/Angular8Template/obj/Debug/netcoreapp2.2/Angular8Template.assets.cache
/Angular8Template/bin/Debug/netcoreapp3.0/Properties/launchSettings.json
/Angular8Template/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/Angular8Template/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/Angular8Template/bin/Debug/netcoreapp3.0/runtimes/win-arm64/native/sni.dll
/Angular8Template/bin/Debug/netcoreapp3.0/runtimes/win-x64/native/sni.dll
/Angular8Template/bin/Debug/netcoreapp3.0/runtimes/win-x86/native/sni.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Angular8Template.runtimeconfig.dev.json
/Angular8Template/bin/Debug/netcoreapp3.0/Angular8Template.pdb
/Angular8Template/bin/Debug/netcoreapp3.0/Angular8Template.Models.pdb
/Angular8Template/bin/Debug/netcoreapp3.0/Angular8Template.Models.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Angular8Template.exe
/Angular8Template/bin/Debug/netcoreapp3.0/Angular8Template.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Angular8Template.deps.json
/Angular8Template/bin/Debug/netcoreapp3.0/Angular8Template.Database.pdb
/Angular8Template/bin/Debug/netcoreapp3.0/Angular8Template.Database.dll
/Angular8Template/bin/Debug/netcoreapp3.0/IdentityModel.AspNetCore.OAuth2Introspection.dll
/Angular8Template/bin/Debug/netcoreapp3.0/BouncyCastle.Crypto.dll
/Angular8Template/bin/Debug/netcoreapp3.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/Angular8Template/bin/Debug/netcoreapp3.0/AutoMapper.dll
/Angular8Template/bin/Debug/netcoreapp3.0/appsettings.json
/Angular8Template/bin/Debug/netcoreapp3.0/appsettings.Development.json
/Angular8Template/bin/Debug/netcoreapp3.0/Angular8Template.Views.pdb
/Angular8Template/bin/Debug/netcoreapp3.0/Angular8Template.Views.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Angular8Template.runtimeconfig.json
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Angular8Template/bin/Debug/netcoreapp3.0/MailKit.dll
/Angular8Template/bin/Debug/netcoreapp3.0/IdentityServer4.Storage.dll
/Angular8Template/bin/Debug/netcoreapp3.0/IdentityServer4.dll
/Angular8Template/bin/Debug/netcoreapp3.0/IdentityServer4.AspNetIdentity.dll
/Angular8Template/bin/Debug/netcoreapp3.0/IdentityServer4.AccessTokenValidation.dll
/Angular8Template/bin/Debug/netcoreapp3.0/IdentityModel.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.DotNet.PlatformAbstractions.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.SpaServices.Extensions.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.SpaServices.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.NodeServices.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.JsonPatch.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
/Angular8Template/bin/Debug/netcoreapp3.0/MimeKit.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Tokens.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Protocols.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.Logging.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.Extensions.DependencyModel.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Relational.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Serilog.Sinks.File.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Serilog.Sinks.Async.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Serilog.Formatting.Compact.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Serilog.Extensions.Logging.File.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Serilog.Extensions.Logging.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Serilog.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Remotion.Linq.dll
/Angular8Template/bin/Debug/netcoreapp3.0/web.config
/Angular8Template/bin/Debug/netcoreapp3.0/System.Interactive.Async.dll
/Angular8Template/bin/Debug/netcoreapp3.0/System.IdentityModel.Tokens.Jwt.dll
/Angular8Template/bin/Debug/netcoreapp3.0/System.Data.SqlClient.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Swashbuckle.AspNetCore.Swagger.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Swashbuckle.AspNetCore.dll
/Angular8Template/bin/Debug/netcoreapp3.0/Serilog.Sinks.RollingFile.dll
